.limit-height  {
    max-height: 30em;
}
.compact-list + ol {
    margin: 0px 0px 0px 0px;
}

code {
    color: black;
    font-size: .875em;
    font-weight: normal;
    background-color: #f2f2f2;
    padding: 1px 4px;
    border-radius: 3px;
}

.token.prism-number {
	color: #905;
}

#use-case {
    margin-top: 0px;
}

.code-toolbar {
    width: 70vw;
}

.viewer {
    width: 100% !important;
    max-width: 800px !important;
    display: table !important;
    overflow-x: unset !important;
    border-width: 0 0 1px !important;
}

.viewer tr {
    border-bottom:1px solid #dbdbdb !important;
}

.viewer td {
    border: none !important;
    text-align: center !important;
}

.scrolling-header {
    position: sticky;
    top: 0px;
    background-color: white;
    box-shadow: inset 0 -1px 0 #dbdbdb;
}

.container-block {
    padding: 0px !important;
    padding-bottom: 2.75rem !important;
}
.has-text-centered {
    text-align: left !important;
}
.has-text-centered p {
    text-align: left !important;
}

.tabs {
    position: sticky;
    top: 0px;
    background-color: white;
    opacity: 1;
    z-index: 1;
}

.is-active {
    color: #0073b0;
}

.is-active h3 {
    color: #0073b0;
    background: #f7f5f5;
}
.is-active a {
    border-top-style: solid;
    border-top-width: 2px;
}