{% capture manifest_url %}
    {% if include.manifest contains 'http' %}
        {{ include.manifest }}
    {% else %}
        {{ site.url }}{{ site.baseurl }}{{ page.url}}{{ include.manifest }}
    {% endif %}
{% endcapture %}
{% if include.type == 'UV' %}
    {% capture viewer_url %}
        https://uv-v3.netlify.app/#?c=&amp;m=&amp;s=&amp;cv=&amp;manifest={{manifest_url |strip}}
    {% endcapture %}
    {% assign default_text="View in Universal Viewer" %}
{% elsif include.type == 'Mirador' %}
    {% capture viewer_url %}
        https://projectmirador.org/embed/?iiif-content={{manifest_url |strip}}
    {% endcapture %}
    {% assign default_text="View in Mirador" %}
{% elsif include.type == 'Tify' %}
    {% capture viewer_url %}
        https://demo.tify.rocks/demo.html?manifest={{manifest_url |strip}}
    {% endcapture %}
    {% assign default_text="View in Tify" %}
{% elsif include.type == 'Curation' %}
    {% capture viewer_url %}
        http://codh.rois.ac.jp/software/iiif-curation-viewer/demo/?manifest={{manifest_url |strip}}
    {% endcapture %}
    {% assign default_text="View in IIIF Curation Viewer" %}
{% elsif include.type == 'Annona' %}
    {% if inclue.annotationurl %}
        {% capture viewer_url %}
            https://ncsu-libraries.github.io/annona/tools/#/display?url={{ site.url }}{{ site.baseurl }}{{ page.url}}{{ include.annotationurl }}&manifesturl={{manifest_url |strip}}&viewtype=storyboard&settings=%7B%22fullpage%22%3Atrue%7D
        {% endcapture %}
    {% else %}
        {% capture viewer_url %}
            https://ncsu-libraries.github.io/annona/tools/#/display?url={{manifest_url |strip}}&viewtype=iiif-rangestoryboard&settings=%7B%22fullpage%22%3Atrue%7D
        {% endcapture %}
    {% endif %}
    {% assign default_text="View in Annona" %}
{% else %}    
    {% capture default_text %}Unknown Viewer type '{{ include.type}}'{% endcapture %}
    {% capture viewer_url %}{{manifest_url |strip}}{% endcapture %}
{% endif %}<a href="{{ viewer_url | strip }}" target="_blank">{{ include.text | default: default_text }}</a>
