.author1note {
	color: #f00;
	background-color: #fff;
	border-color: #f00;
}

.author1highlight {
	color: #f00;
	border-color: #f00;
}

.author2note {
	color: #1a1;
	background-color: #fff;
	border-color: #0f0;
}

.author1highlight {
	color: #0f0;
	border-color: #0f0;
}
